<br>
<div class="container">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      --Choisir le departement--
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li> <a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <br>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Matricule</th>
        <th scope="col">Leave-Type</th>
        <th scope="col">Duration</th>
        <th scope="col">Start-Date</th>
        <th scope="col">End-Date</th>
        <th scope="col">Department</th>
        <th scope='col colspan="2" '>Action</th>


      </tr>
    </thead>
    <tbody>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>



    </tbody>
  </table>




</div>
