<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Leave-Type</th>
      <th scope="col">Duration</th>
      <th scope="col">Start-Date</th>
      <th scope="col">End-Date</th>

    </tr>
  </thead>
  <tbody>

      <tr *ngFor="let l of leave">
        <td>{{l.type-conje}}</td>
        <td>{{l.duree_conje}}</td>
        <td>{{l.start_time}}</td>
        <td>{{l.end_time}}</td>

      </tr>



  </tbody>
</table>

<div class="col-md-12 text-center">
  <button type="button" class="btn btn-success" routerLink="/addleave">ADD Leave</button>

</div>
<router-outlet></router-outlet>
