<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Leave-Type</th>
      <th scope="col">Duration</th>
      <th scope="col">Start-Date</th>
      <th scope="col">End-Date</th>

    </tr>
  </thead>
  <tbody>

      <tr *ngFor="let l of employee.leaves">
        <td>{{l.typeConje}}</td>
        <td>{{l.date_debut}}</td>
        <td>{{l.date_fin}}</td>
        <td>{{employee.matricule}}</td>
      </tr>
  </tbody>
</table>

<div class="col-md-12 text-center">
  <button type="button" class="btn btn-success" routerLink="/addleave/{{employee?.id}}">ADD Leave</button>
</div>
<router-outlet></router-outlet>
